.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-y: auto;
}

.weather-wrapper {
    position: absolute;
    top: 5rem;
    bottom: 3rem;
    width: 60%;
    min-width: 1000px;
    height: 930px;
    border-radius: 2rem;
}

.weather-wrapper .iframe-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 2rem;
}

.weather-wrapper .iframe-wrapper iframe {
    transform: translateY(-8rem);
    width: 100%;
    height: calc(100% + 8rem);
}