.form-switch {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.form-switch i {
    position: relative;
    display: inline-block;
    margin-right: 0.5rem;
    width: 66px;
    height: 36px;
    background-color: #e6e6e6;
    /*background-color: green;*/
    border-radius: 32px;
    vertical-align: text-bottom;
    transition: all 0.3s linear;

}

.form-switch i::before {
    content: "";
    position: absolute;
    left: 0;
    width: 62px;
    height: 32px;
    background-color: #fff;
    border-radius: 32px;
    transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
    transition: all 0.25s linear;
}

.form-switch i::after {
    content: "";
    position: absolute;
    left: 0;
    width: 32px;
    height: 32px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transform: translate3d(2px, 2px, 0);
    transition: all 0.2s ease-in-out;
}

.form-switch:active i::after {
    width: 38px;
    transform: translate3d(2px, 2px, 0);
}

.form-switch:active input:checked + i::after {
    transform: translate3d(26px, 2px, 0);
}

.form-switch input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.form-switch input:checked + i {
    background-color: #4bd763;
}

.form-switch input:checked + i::before {
    transform: translate3d(16px, 2px, 0) scale3d(0, 0, 0);
}

.form-switch input:checked + i::after {
    transform: translate3d(32px, 2px, 0);
}